---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header title="Header images by artstation.com/dtmayer" class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>TENNESSEE STATE<br/>PRISON PROJECT</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}

        <h1>The Musuem Plans</h1>
        <br>
        <img src="img/modle.jpg">
        <br>
        <br>
        <ul>
          <li>Our goal is to repurpose the lobby of the Tennessee State Prison into a museum that covers the institution of convict leasing and labor.</li>
          <li>The museum will cover every floor of the main lobby building.</li>
          <li>We plan to restore the lobby to a safe condition (mainly to get rid of the asbestos)
          <ul>
            <li>Leave some parts still worn away (but closed off) reminding visitors of what happened here.</li>
          </ul>
          <li>Artifacts from the prison’s history will be present</li>
          <ul>
            <li>Old mugshots, prison uniforms, jail cells, letters, journals, and more will all be present, documenting the prison’s history.</li>
            <li>We will provide ample opportunity for visitors to connect with the history of the prison through various interactive exhibits.</li>
            <li>Artifacts from the prison’s past will be displayed around the building</li>
          </ul>
          <li>Front desk to provide more information and a map of the museum/a guided tour</li>
          <ul>
            <li>Will also be used to check visitors into the museum and ensure the safety</li>
          </ul>
          <li>After going through the lobby, visitors go to the basement, where they start their trek through our exhibition hall.</li>
          <li>Upon arriving at the basement of the building, visitors start by going through a fully restored cell. They’ll get to see the cramped conditions. It is designed a be a small space and make visitors feel how uncomfortable a cell in the prison would’ve been. From there, they move into an exhibit hall that goes over the history of the prison, both architectural and condition-wise.</li>
          <li>There will be a specific room dedicated to the Grubbs v. Bradley case and the effects of that court decision nationwide.</li>
          <li>As they move up in the building (away from the last two exhibits), visitors continue into a hall dedicated to the history of convict leasing and labor in Tennessee. The focus of the hall broadens to the history of those institutions across the rest of the South.</li>
          <li>They can look out over the remains of the prison factories and farms while looking around the exhibit.</li>
          <li>As they walk back down to the lobby, visitors will pass through a dark hallway and be encouraged to use that brief walk as an opportunity to reflect on what they ended up seeing during their visit.</li>
        </ul>
        <br>
        <h1>Extra Features</h1>
        <br>
        <ul>
          <li>Projector playing an old film of the prison’s operation</li>
          <li>An information board displays and teaches visitors about the importance of human rights and ensuring all people’s (even prisoners’) natural rights are not violated.</li>
          <li>Benches will be spread throughout the museum as resting places</li>
          <li>A massive metal key statue stands upright in the museum, demonstrating opportunity, and that people can change.</li>
          <li>Allow visitors to attach their answer to the question of “what freedom means” on a board</li>
        </ul>


        <!-- Home Post List -->
        {% for post in site.posts limit : 10 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <div class="post-container">
                <div class="post-img-container" title="Image by {{post.artist}}">
                  <img class="post-img" src={{post.background}}>
                </div>
                <div class="post-text">
                  <div class="post-text-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">
                      {{ post.date | date: '%B %d, %Y' }}
                    </p>
                    </div>
                  {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                  {% else %}
                    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 20 }}</h3>
                  {% endif %}
                </div>
              </div>
            </a>
          </article>

          <hr>

        {% endfor %}


      </div>
    </div>
  </div>
